<div>
    <mainheader></mainheader>
    <div class="px-10">
        <div>
            <div class="submission">
                <span class="item cursor-pointer" :class="{'active': tab == 'all'}" @click="setTab('all')">
                    All
                </span>
                <span class="item cursor-pointer" :class="{'active': tab == 'pending'}" @click="setTab('pending')">
                    Pending
                </span>
                <span class="item">
                    Accepted
                </span>
                <span class="item">
                    Rejected
                </span>
                <span class="item">
                    Duplicate
                </span>
                <span class="item">
                    Collaboration
                </span>
                <span class="item">
                    Invitation
                </span>
            </div>
        </div>
        <div class="fade" v-if="tab == 'all'">
            <div>
                <noitem
                    message="Your vulnerability reports will appear here Every accepted submission enhances your accuracy rating, which will help you gain access to additional private programs.">
                </noitem>

            </div>
            <div class="flex justify-center">
                <a href=""
                    class="bg-gray-500 rounded-lg font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
                    Click here
                </a>
            </div>
        </div>
        <div class="my-10 fade" v-if="tab == 'pending'">
            <div class="grid grid-cols-7 my-1 border-2 border-gray-200 p-10 rounded-md">
                <div>
                    <img src="../../assets/icon/pininterest.svg" class="h-32 " alt="">
                </div>
                <div class="col-span-6">
                    <div class="flex flex-wrap justify-between">
                        <div class="w-100">
                            <p class="text-xl">Disclosed report: [ExpressVPN Router] Integer Buffer Overflow: Server
                                Info
                                Disclosure When
                                Router's Nginx Server used as Reverse Proxy Server</p>
                            <p>By jaisharmaProgram ExpressVPN Priority P3</p>

                        </div>
                        <div class="w-full mt-10">
                            <div class="flex justify-between">
                                <div class="">
                                    <span class="text-lg">Disclosed on 24 Nov 2020</span>
                                </div>
                                <div class="">
                                    <span class="text-lg text-red-300"> Pending</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="grid grid-cols-7 my-1 border-2 border-gray-200 p-10 rounded-md">
                <div>
                    <img src="../../assets/icon/telsa.svg" class="h-32 " alt="">
                </div>
                <div class="col-span-6">
                    <div class="flex flex-wrap justify-between">
                        <div class="w-100">
                            <p class="text-xl">Disclosed report: [ExpressVPN Router] Integer Buffer Overflow: Server
                                Info
                                Disclosure When
                                Router's Nginx Server used as Reverse Proxy Server</p>
                            <p>By jaisharmaProgram ExpressVPN Priority P3</p>

                        </div>
                        <div class="w-full mt-10">
                            <div class="flex justify-between">
                                <div class="">
                                    <span class="text-lg">Disclosed on 24 Nov 2020</span>
                                </div>
                                <div class="">
                                    <span class="text-lg text-purple-300"> Accepted</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="grid grid-cols-7 my-1 border-2 border-gray-200 p-10 rounded-md">
                <div>
                    <img src="../../assets/icon/3logo.svg" class="h-32 " alt="">
                </div>
                <div class="col-span-6">
                    <div class="flex flex-wrap justify-between">
                        <div class="w-100">
                            <p class="text-xl">Disclosed report: [ExpressVPN Router] Integer Buffer Overflow: Server
                                Info
                                Disclosure When
                                Router's Nginx Server used as Reverse Proxy Server</p>
                            <p>By jaisharmaProgram ExpressVPN Priority P3</p>

                        </div>
                        <div class="w-full mt-10">
                            <div class="flex justify-between">
                                <div class="">
                                    <span class="text-lg">Disclosed on 24 Nov 2020</span>
                                </div>
                                <div class="">
                                    <span class="text-lg text-red-300"> Pending</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="grid grid-cols-7 my-1 border-2 border-gray-200 p-10 rounded-md">
                <div>
                    <img src="../../assets/icon/lastlogo.svg" class="h-32 " alt="">
                </div>
                <div class="col-span-6">
                    <div class="flex flex-wrap justify-between">
                        <div class="w-100">
                            <p class="text-xl">Disclosed report: [ExpressVPN Router] Integer Buffer Overflow: Server
                                Info
                                Disclosure When
                                Router's Nginx Server used as Reverse Proxy Server</p>
                            <p>By jaisharmaProgram ExpressVPN Priority P3</p>

                        </div>
                        <div class="w-full mt-10">
                            <div class="flex justify-between">
                                <div class="">
                                    <span class="text-lg">Disclosed on 24 Nov 2020</span>
                                </div>
                                <div class="">
                                    <span class="text-lg text-red-300"> Pending</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>