@import "./variable.less";
@import "./animate.less";


@font-face {
    font-family: 'roboto';
    src: url('../font/Rubik-Regular.ttf');
  }
  body {
    font-family: 'roboto' !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1rem;
  }

  ::-webkit-scrollbar {
	width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background   :@pink;
	border-radius: 10px;
	margin-right : 10px;
}

.font-one{
    font-size: @font-one;
    font-weight: @font-title;
}
.font-two{
    font-size: @font-two;
}
.font-three{
    font-size: @font-three;
}
.font-title{
    font-weight: @font-title;
    font-size: @font-two;
}
.modal{
    display: none;
    animation: bounce-in .5s;
}
.dropdown{
    display: none;
    animation: bounce-in .5s; 
}
.fade{
    animation: fade-in .5s;
}
.mainfade{
    animation: fade .5s;
}
.logo{
    width: 10rem;
}
.menu{
    .menu-item{
        display: flex;
        justify-self: start;
        align-items: center;
        padding: 1.2rem 2rem;
        font-size: @font-two;
        font-weight: @font-title;
     cursor: pointer;
     img{
         margin-right: 1rem;
         font-size: 1.3rem !important;
     }
        &.active{
            border-left: 5px solid @pink;
            background-color: @pink-light;
            color: @pink;
           
        }
    }
}
.header{
    height: 82px;
    background-color:@light-gray;
    display: grid;
    align-items: center;
   
}
.headersearch{
    display: flex;
    width: 100%;
    background-color: #FDFDFD;
    padding: .8rem 0rem;
    font-size: 1.3rem;
    text-indent: 4rem;
    border-radius: 10px;

    &:focus{
        outline: transparent;
        background-color: white;
    }
}
.mainsearch{
    position: relative;
    img{
        position: absolute;
        top: 30%;
        left: 1rem;
        height: 1.3rem;
        width: 1.3rem;
    }
}

.icon{
   position: relative;
   .message{
       height: 1.8rem;
   }
   .oval{
       position: absolute;
       top: 2px;
       right: 0%;
       height: .8rem;
   }
   

}

.avatar{
    height: 50px;
    width: 50px;
}

.greeting-title{
    font-size: 1.8rem;
    font-weight: 800;
    color: rgb(43, 43, 43);
}
.bg-light-gray{
    background-color: @light-gray;
}
.pink{
    color: @pink;
}
.form-control{
    margin: 15px 0px;
    padding: .5rem;
    color: #000;
    display: block;
    width: 100%;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 2px;
    &:focus{
    outline: none;
    }
}
.custom-select{
    
    padding: .7rem;
    margin:  1rem 0;
    select{
        // padding: 1rem;
        
        width: 100%;
        background-color: transparent;
        border-color: gray;
        &:focus{
            outline: none;
        }
    }
  
    background-color: @light-gray;
    border-radius: 10px;
 
   
   
}

.chatmenu{
    display: flex;
    .chatmenu-item{
        margin: 0px 16px;
        cursor: pointer;
        padding-bottom: .7rem;
    }
    .active{
color: black;
background-color: white;
font-weight: 600;
        border-bottom: 3px solid black;
    }
}
.chartmenu{
    display: flex;
    span{
        display: flex;
        margin: 0px 2rem;
        background: @light-gray;
        padding: .5rem 2rem;
        border-radius: 20px;
        img{
            margin-right: 1rem;
        }
    }
}

.more{
    &:hover{
        .notify{
            display: block;
        }
    }
    &:active{
        .notify{
            display: block;
        }
    }
    .notify{
      display:  none;
    }
    
  }

.center_item {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active_tab{
    border-bottom: 3px solid #df74fa;
}
.submission{
    display: flex;
    margin-top: 2rem;
    .item{
        margin: 5px;
        padding: .8rem 1.7rem;
        background-color: @light-gray;
        border-radius: 10px;
        font-weight: @font-title;
    }
    .active{
        background-color: white;
        box-shadow: 1px 1px 5px #c9c9c9;
        color: @pink;
    }
}

.settingtab{
    display: flex;
    .item{
        padding: 1rem 2rem;
        cursor: pointer;
    }
    .active{
        border-bottom: 3px solid @pink;
        color: black;
        background-color: white;
    }
}

.bg-pink {
    background: #DA04F2;
}

/* #DA04F2 #de3cf0*/
.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}
  
input:checked ~ .toggle__dot {
    transform: translateX(100%);
    background: linear-gradient(45deg, #de3cf0, #DA04F2);
}

input:checked ~ .toggle__line {
    background: #DA04F2;
}
 
@media only screen and (max-width: 75em) { /** 1200px / 16 */
    .main_content {
        grid-column-start: 1;
    }

    .mobile_sidemenu {
        display: block !important;
    }
}
#header{
    position: sticky;
    top: 0px;
    background-color: white;
}