.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.fade-enter-active {
  animation: fade-in 1s;
}
.fade-leave-active {
  animation: fade-in 0s reverse;
}
@keyframes fade-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: 'roboto';
  src: url('../font/Rubik-Regular.ttf');
}
body {
  font-family: 'roboto' !important;
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1rem;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #DA04F2;
  border-radius: 10px;
  margin-right: 10px;
}
.font-one {
  font-size: 1.8rem;
  font-weight: 900;
}
.font-two {
  font-size: 1rem;
}
.font-three {
  font-size: 0.8rem;
}
.font-title {
  font-weight: 900;
  font-size: 1rem;
}
.modal {
  display: none;
  animation: bounce-in 0.5s;
}
.dropdown {
  display: none;
  animation: bounce-in 0.5s;
}
.fade {
  animation: fade-in 0.5s;
}
.mainfade {
  animation: fade 0.5s;
}
.logo {
  width: 10rem;
}
.menu .menu-item {
  display: flex;
  justify-self: start;
  align-items: center;
  padding: 1.2rem 2rem;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
}
.menu .menu-item img {
  margin-right: 1rem;
  font-size: 1.3rem !important;
}
.menu .menu-item.active {
  border-left: 5px solid #DA04F2;
  background-color: #da04f21a;
  color: #DA04F2;
}
.header {
  height: 82px;
  background-color: #f3f4f641;
  display: grid;
  align-items: center;
}
.headersearch {
  display: flex;
  width: 100%;
  background-color: #FDFDFD;
  padding: 0.8rem 0rem;
  font-size: 1.3rem;
  text-indent: 4rem;
  border-radius: 10px;
}
.headersearch:focus {
  outline: transparent;
  background-color: white;
}
.mainsearch {
  position: relative;
}
.mainsearch img {
  position: absolute;
  top: 30%;
  left: 1rem;
  height: 1.3rem;
  width: 1.3rem;
}
.icon {
  position: relative;
}
.icon .message {
  height: 1.8rem;
}
.icon .oval {
  position: absolute;
  top: 2px;
  right: 0%;
  height: 0.8rem;
}
.avatar {
  height: 50px;
  width: 50px;
}
.greeting-title {
  font-size: 1.8rem;
  font-weight: 800;
  color: #2b2b2b;
}
.bg-light-gray {
  background-color: #f3f4f641;
}
.pink {
  color: #DA04F2;
}
.form-control {
  margin: 15px 0px;
  padding: 0.7rem;
  color: #000;
  display: block;
  width: 100%;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}
.form-control:focus {
  outline: none;
}
.custom-select {
  padding: 0.7rem;
  margin: 1rem 0;
  background-color: #f3f4f641;
  border-radius: 10px;
}
.custom-select select {
  width: 100%;
  background-color: transparent;
}
.custom-select select:focus {
  outline: none;
}
.chatmenu {
  display: flex;
}
.chatmenu .chatmenu-item {
  margin: 0px 16px;
  cursor: pointer;
  padding-bottom: 0.7rem;
}
.chatmenu .active {
  color: black;
  background-color: white;
  font-weight: 600;
  border-bottom: 3px solid black;
}
.chartmenu {
  display: flex;
}
.chartmenu span {
  display: flex;
  margin: 0px 2rem;
  background: #f3f4f641;
  padding: 0.5rem 2rem;
  border-radius: 20px;
}
.chartmenu span img {
  margin-right: 1rem;
}
.more:hover .notify {
  display: block;
}
.more:active .notify {
  display: block;
}
.more .notify {
  display: none;
}
.center_item {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.active_tab {
  border-bottom: 3px solid #df74fa;
}
.submission {
  display: flex;
  margin-top: 2rem;
}
.submission .item {
  margin: 5px;
  padding: 0.8rem 1.7rem;
  background-color: #f3f4f641;
  border-radius: 10px;
}
.submission .active {
  background-color: white;
  box-shadow: 1px 1px 5px #c9c9c9;
  color: #DA04F2;
}
.settingtab {
  display: flex;
}
.settingtab .item {
  padding: 1rem 2rem;
  cursor: pointer;
}
.settingtab .active {
  border-bottom: 3px solid #DA04F2;
}
.bg-pink {
  background: #DA04F2;
}
/* #DA04F2 #de3cf0*/
.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}
input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background: linear-gradient(45deg, #de3cf0, #DA04F2);
}
input:checked ~ .toggle__line {
  background: #DA04F2;
}
@media only screen and (max-width: 75em) {
  /** 1200px / 16 */
  .main_content {
    grid-column-start: 1;
  }
  .mobile_sidemenu {
    display: block !important;
  }
}
#header {
  position: sticky;
  top: 0px;
  background-color: white;
}
