<div>
    <mainheader></mainheader>
    <div class="bg-light-gray pb-10">
        <div class="grid grid-cols-1 p-10">
            <div>
                <p class="greeting-title">Good Afternoon Lawal!</p>
            </div>
        </div>
        <div class="px-10">
            <div class="programList flex shadow-md mb-5 rounded-l-lg">
                <div class="programList_avatar">
                    <img class="programList_avatar rounded-l-lg" src="../../assets/image1.jpg" alt="">
                </div>
                <div class="p-10 programList_container grid grid-cols-3 gap-4">
                    <div class="flex flex-col justify-between">
                        <div class="flex flex-col">
                            <h5 class="mb-1 text-lg">Host Gator LATAM</h5>
                            <span class="text-xs text-gray-400">Host Gator LATAM</span>
                        </div>

                        <div class="flex flex-col">
                            <div class="flex items-center mb-3">
                                <img class="inline mr-2" src="../../assets/icon/circle.svg" alt="">
                                <span class="text-xs text-gray-400">Partial safe harbour</span>
                            </div>
                            <div class="flex items-center">
                                <img class="inline mr-2" src="../../assets/icon/circle.svg" alt="">
                                <span class="text-xs text-gray-400">Managed by Bugcrowd</span>
                            </div>
                        </div>
                    </div>
                    <div class="programList_grid flex justify-end flex-col">
                        <div class="flex mb-3">
                            <img class="inline mr-2" src="../../assets/icon/circle.svg" alt="">
                            <span class="block text-xs text-gray-400">Points</span>
                        </div>
                        <span class="ml-5 text-xs text-gray-400">Per Vulnerability</span>
                    </div>
                    <div class="programList_grid flex flex-col justify-between items-end">
                        <span class="text-indigo-500 text-xs">Recent</span>
                        <span class="text-indigo-500 text-sm">Submit Report</span>
                    </div>                   
                </div>
            </div>

            <div class="programList flex shadow-md mb-5 rounded-l-lg">
                <div class="programList_avatar">
                    <img class="w-full rounded-l-lg" src="../../assets/image2.jpg" alt="">
                </div>
                <div class="p-10 programList_container grid grid-cols-3 gap-4">
                    <div class="flex flex-col justify-between">
                        <div class="flex flex-col">
                            <h5 class="mb-1 text-lg">Seeking specialists</h5>
                        </div>
                        <p class="text-xs text-gray-400">We're looking for researchers to work on select private prog..</p>
                    </div>
                    <div class="programList_grid flex justify-end flex-col"></div>
                    <div class="programList_grid flex flex-col justify-between items-end">
                        <span class="text-indigo-500 text-xs">Recent</span>
                        <span class="text-yellow-400 text-sm">Learn more</span>
                    </div>                    
                </div>
            </div>

            <div class="programList flex shadow-md mb-5 rounded-l-lg">
                <div class="programList_avatar">
                    <img class="programList_avatar rounded-l-lg" src="../../assets/image1.jpg" alt="">
                </div>
                <div class="p-10 programList_container grid grid-cols-3 gap-4">
                    <div class="flex flex-col justify-between">
                        <div class="flex flex-col">
                            <h5 class="mb-1 text-lg">Host Gator LATAM</h5>
                            <span class="text-xs text-gray-400">Host Gator LATAM</span>
                        </div>

                        <div class="flex flex-col">
                            <div class="flex items-center mb-3">
                                <img class="inline mr-2" src="../../assets/icon/circle.svg" alt="">
                                <span class="text-xs text-gray-400">Partial safe harbour</span>
                            </div>
                            <div class="flex items-center">
                                <img class="inline mr-2" src="../../assets/icon/circle.svg" alt="">
                                <span class="text-xs text-gray-400">Managed by Bugcrowd</span>
                            </div>
                        </div>
                    </div>
                    <div class="programList_grid flex justify-end flex-col">
                        <div class="flex mb-3">
                            <img class="inline mr-2" src="../../assets/icon/circle.svg" alt="">
                            <span class="block text-xs text-gray-400">$150 - $2,500</span>
                        </div>
                        <span class="ml-5 text-xs text-gray-400">Per Vulnerability</span>
                    </div>
                    <div class="programList_grid flex flex-col justify-between items-end">
                        <span class="text-indigo-500 text-xs">Recent</span>
                        <span class="text-indigo-500 text-sm">Submit Report</span>
                    </div>                    
                </div>
            </div>            
        </div>
    </div>
</div>