<div class="header shadow-md">
    <modal class="modal" id="availabilty">
        <div slot="content">
            <div class="bdivide-gray-100 divide-y">
                <div class="py-4">
                    <p class="text-xl text-center">Availability</p>
                </div>
                <div class=" py-4">
                    <div class="flex justify-between items-center" @click="$m.showmodal('hours')">
                        <div>
                            <span class="text-xs">Available Hours</span>
                            <p class="text-lg text-bold">Set Available
                                Hours</p>
                        </div>
                        <img src="../../assets/icon/Vectorarrowfront.svg" alt="">
                    </div>

                </div>
                <div class=" py-4">
                    <div class="flex justify-between items-center">
                        <div>
                            <span class="text-xs">Busy Period</span>
                            <p class="text-lg text-bold">Set Busy
                                Dates</p>
                        </div>
                        <img src="../../assets/icon/Vectorarrowfront.svg" alt="">
                    </div>

                </div>
                <div class=" py-4">
                    <div class="flex justify-between">
                        <div>

                            <p class="text-lg text-bold">Why do we need
                                this information?</p>
                            <p>Set your availability so the Bugcrowd
                                team can give you access to programs
                                when it suits you. This also helps us
                                schedule programs for customers. You are
                                more likely to receive opportunities
                                when you set your availability.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer">
            <button type="button"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                Save
            </button>
            <button type="button" @click="$m.hidemodal('availabilty')"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                Close
            </button>
        </div>
    </modal>

    <modal class="modal" id="hours">
        <div slot="content">
            <div class="bdivide-gray-100 divide-y">
                <div class="py-4">
                    <p class="text-xl text-center">Availability Hours</p>
                </div>

                <div class="py-4">
                    <p class="flex items-center my-2"><input type="checkbox" class="mr-4"> Flexible depending on program
                    </p>
                    <p class="flex items-center my-2"><input type="checkbox" class="mr-4"> Less than 10 hrs/week</p>
                    <p class="flex items-center my-2"><input type="checkbox" class="mr-4"> 10 t0 20 hrs/week</p>
                    <p class="flex items-center my-2"><input type="checkbox" class="mr-4"> 20 t0 30 hrs/week</p>
                    <p class="flex items-center my-2"><input type="checkbox" class="mr-4"> More than 30 hrs/week</p>
                </div>
            </div>
        </div>
        <div slot="footer">
            <button type="button"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                Save
            </button>
            <button type="button" @click="$m.hidemodal('hours')"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                Close
            </button>
        </div>
    </modal>
    <div class="grid grid-cols-9 items-center">
        <div class="col-span-6 p-2">
            <div class="mainsearch">
                <img src="../../assets//icon/searchicon.svg" alt="">
                <input type="text" placeholder="Search" class="headersearch">
            </div>
        </div>
        <div class="col-span-1 border-r-2 border-gray-300">
            <div class="grid grid-cols-3">
                <div class="icon col-span-1 col-start-2">
                    <img class="message" src="../../assets/icon/Shape.svg" alt="">
                    <img class="oval" src="../../assets/icon/Oval.svg" alt="">
                </div>
                <div class="icon">
                    <img class="message" src="../../assets/icon/Message.svg" alt="">
                    <img class="oval" src="../../assets/icon/Oval.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-span-2 mx-4">
            <div class="grid grid-cols-6 items-center">
                <div class="col-span-2 col-start-1 justify-self-end">
                    <img class="avatar rounded-full"
                        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
                        alt="">
                </div>
                <div class="col-span-3 ml-2">
                    <span class="text-lg">John Lawal</span> <br>
                    <span class="text-xs">User</span>
                </div>
                <div>


                    <div class="relative inline-block text-left ">
                        <div class="more">
                            <img class="h-8 cursor-pointer trigger" src="../../assets//icon/More.svg"
                                @click="$m.showdropdown('notify')" id="options-menu" aria-haspopup="true"
                                aria-expanded="true" alt="">


                            <dropdown class="dropdown" id="notify" :class="['right-0', 'mt-8']">
                                <div slot="content">
                                    <div class="py-2 divide-y divide-gray-100" role="menu" aria-orientation="vertical"
                                        aria-labelledby="options-menu">
                                        <a href="#"
                                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                            role="menuitem">
                                            <span class="flex"> <img class="mx-2" src="../../assets/icon/1.svg" alt="">
                                                Profile</span></a>
                                        <a href="#"
                                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                            role="menuitem">
                                            <span class="flex"> <img class="mx-2" src="../../assets/icon/2.svg" alt="">
                                                Invite</span></a>
                                        </a>
                                        <a href="#"
                                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                            role="menuitem">
                                            <span class="flex"> <img class="mx-2" src="../../assets/icon/4.svg" alt="">
                                                Account Settings</span>
                                        </a>
                                        <a href="#"
                                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                            role="menuitem">
                                            <span class="flex" @click="$m.showmodal('availabilty')"> <img class="mx-2"
                                                    src="../../assets/icon/3.svg" alt="">
                                                Availability</span>










                                        </a>
                                        <a href="#"
                                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                            role="menuitem">
                                            <span class="flex"> <img class="mx-2" src="../../assets/icon/Group 2093.svg"
                                                    alt="">
                                                Invite</span>
                                        </a>
                                    </div>
                                </div>
                            </dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>