<div class="h-screen fade ">
    <mainheader></mainheader>
    <div class="bg-light-gray pb-10">
        <div class="grid grid-cols-1 p-10">
            <div>
                <p class="font-one">Good Afternoon Lawal!</p>
            </div>
        </div>


        <!-- first session -->
        <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-5 px-10">
            <div class="bg-white shadow-md rounded-md">
                <div class="grid grid-cols-5 bg-gray-100 justify-center">
                    <div class="text-center cursor-pointer p-5 font-title col-span-2"
                        :class="{'bg-white': reward, 'pink' : reward}" @click="reward = true">
                        Reward
                    </div>
                    <div class="text-center cursor-pointer p-5 font-title col-span-2"
                        :class="{'bg-white': !reward, 'pink' : !reward}" @click="reward = false">
                        Just For You
                    </div>
                </div>
                <div v-if="reward">
                    <transition name="fade">
                        <div class="fade">
                            <div class="grid grid-cols-1 px-12 py-5 justify-center">
                                <div class="grid grid-cols-2 gap-3">
                                    <div class="col-span-1">
                                        <p class="font-two">Last 30 days</p>
                                        <input type="text" class="form-control" placeholder="$0.00">
                                    </div>
                                    <div class="col-span-1">
                                        <p class="font-two">Upcoming Payments</p>
                                        <input type="text" class="form-control" placeholder="$0.00">
                                    </div>
                                </div>
                            </div>
                            <noitem message="You have no recent program" title="Recent"></noitem>
                        </div>
                    </transition>
                </div>
                <div class="px-10 pb-10 fade" v-else>
                    <div class="mt-7 bg-light-gray rounded-md p-5 divide-y divide-solid divide-gray-200">
                        <div class="grid grid-cols-12 mb-3">
                            <div>
                                <div class="flex justify-center items-center h-8 w-8 rounded-full bg-pink-200">
                                    <img src="../../assets/icon/arrow-down-right.svg" alt="">
                                </div>
                            </div>
                            <div class="col-span-10">
                                <p class="font-title text-lg">Submission of Zenith Bank Report</p>
                                <p class="font-three">2020-12-24</p>
                            </div>
                            <div class="flex justify-end">
                                <img src="../../assets/icon/Vector.svg" alt="">
                            </div>

                        </div>

                        <div>
                            <p class="font-two text-sm mt-3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa,
                                illo.
                                Amet
                                ipsum
                                architecto
                                quis adipisci sint porro natus, impedit veritatis ex vero magnam et
                                tenetur,
                                ad
                                quibusdam
                                recusandae aperiam nobis.
                            </p>
                        </div>
                    </div>
                    <div class="mt-7 bg-light-gray rounded-md p-5 divide-y divide-solid divide-gray-200">
                        <div class="grid grid-cols-12 mb-3">
                            <div>
                                <div class="flex justify-center items-center p-2 h-8 w-8 rounded-full bg-pink-200">
                                    <img src="../../assets/icon/systemmain.svg" alt="">
                                </div>
                            </div>
                            <div class="col-span-10">
                                <p class="font-title text-lg">No hardware, no problem! Route your ...</p>
                                <p class="font-three">Help secure a router's operating system.</p>
                            </div>
                            <div class="flex justify-end">
                                $150-$250
                            </div>

                        </div>

                        <div class="flex items-center">
                            <div class="">
                                <p class="font-two text-sm mt-3">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa,
                                    illo.
                                    Amet
                                    ipsum
                                    architecto
                                    quis adipisci sint porro natus, impedit veritatis ex vero magnam et
                                    tenetur,
                                    ad
                                    quibusdam
                                    recusandae aperiam nobis.
                                </p>
                            </div>

                            <div class="w-64 flex">
                                <img class="ml-2" src="../../assets/icon/circlemain.svg" alt="">
                                <img class="ml-2" src="../../assets/icon/circlemain.svg" alt="">
                                <img class="ml-2" src="../../assets/icon/circlemain.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mt-7 bg-light-gray rounded-md p-5 divide-y divide-solid divide-gray-200">
                        <div class="grid grid-cols-12 mb-3">
                            <div>
                                <div class="flex justify-center items-center p-2 h-8 w-8 rounded-full bg-pink-200">
                                    <img src="../../assets/icon/systemmain.svg" alt="">
                                </div>
                            </div>
                            <div class="col-span-10">
                                <p class="font-title text-lg">No hardware, no problem! Route your ...</p>
                                <p class="font-three">Help secure a router's operating system.</p>
                            </div>
                            <div class="flex justify-end">
                                $150-$250
                            </div>

                        </div>

                        <div class="flex items-center">
                            <div class="">
                                <p class="font-two text-sm mt-3">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa,
                                    illo.
                                    Amet
                                    ipsum
                                    architecto
                                    quis adipisci sint porro natus, impedit veritatis ex vero magnam et
                                    tenetur,
                                    ad
                                    quibusdam
                                    recusandae aperiam nobis.
                                </p>
                            </div>

                            <div class="w-64 flex">
                                <img class="ml-2" src="../../assets/icon/circlemain.svg" alt="">
                                <img class="ml-2" src="../../assets/icon/circlemain.svg" alt="">
                                <img class="ml-2" src="../../assets/icon/circlemain.svg" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-white shadow-md rounded-md px-10 py-5">
                <div class="grid grid-cols-8">
                    <div @click="currentsession = true">
                        <span class="font-title cursor-pointer" :class="{'pink': currentsession}">Task</span>
                    </div>
                    <div @click="currentsession = false">
                        <span class=" font-title cursor-pointer" :class="{'pink': !currentsession}">Activity</span>
                    </div>
                </div>
                <div v-if="currentsession">
                    <transition name="fade">
                        <div>
                            <div class="mt-7">
                                <div class="custom-select w-64 ">
                                    <select v-model="currentTask">
                                        <option value="all">All</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>

                            </div>
                            <div v-if="currentTask == 'all'">
                                <transition name="fade">
                                    <div>
                                        <div
                                            class="mt-7 bg-light-gray rounded-md p-5 divide-y divide-solid divide-gray-200">
                                            <div class="flex mb-3 taskitem">
                                                <div class="">
                                                    <div
                                                        class="flex justify-center items-center h-8 w-8 rounded-full bg-pink-200">
                                                        <img src="../../assets/icon/arrow-down-right.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <p class="font-title sm:text-sm md:text-base lg:text-lg">Submission
                                                        of Zenith Bank Report</p>
                                                    <p class="font-three">2020-12-24</p>
                                                </div>
                                                <div class="flex justify-end ">
                                                    <img src="../../assets/icon/Vector.svg" alt="">
                                                </div>

                                            </div>

                                            <div>
                                                <p class="font-two xs:text-sm md:text-xs lg:text-sm mt-3">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa,
                                                    illo.
                                                    Amet
                                                    ipsum
                                                    architecto
                                                    quis adipisci sint porro natus, impedit veritatis ex vero magnam et
                                                    tenetur,
                                                    ad
                                                    quibusdam
                                                    recusandae aperiam nobis.
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="mt-7 bg-light-gray rounded-md p-5 divide-y divide-solid divide-gray-200">
                                            <div class="flex mb-3 taskitem">
                                                <div class="">
                                                    <div
                                                        class="flex justify-center items-center h-8 w-8 rounded-full bg-pink-200">
                                                        <img src="../../assets/icon/arrow-down-right.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <p class="font-title sm:text-sm md:text-base lg:text-lg">Submission
                                                        of Zenith Bank Report</p>
                                                    <p class="font-three">2020-12-24</p>
                                                </div>
                                                <div class="flex justify-end ">
                                                    <img src="../../assets/icon/Vector.svg" alt="">
                                                </div>

                                            </div>


                                        </div>
                                        <div
                                            class="mt-7 bg-light-gray rounded-md p-5 divide-y divide-solid divide-gray-200">
                                            <div class="flex mb-3 taskitem">
                                                <div class="">
                                                    <div
                                                        class="flex justify-center items-center h-8 w-8 rounded-full bg-pink-200">
                                                        <img src="../../assets/icon/arrow-down-right.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <p class="font-title sm:text-sm md:text-base lg:text-lg">Submission
                                                        of Zenith Bank Report</p>
                                                    <p class="font-three">2020-12-24</p>
                                                </div>
                                                <div class="flex justify-end ">
                                                    <img src="../../assets/icon/Vector.svg" alt="">
                                                </div>

                                            </div>


                                        </div>
                                        <div
                                            class="mt-7 bg-light-gray rounded-md p-5 divide-y divide-solid divide-gray-200">
                                            <div class="flex mb-3 taskitem">
                                                <div class="">
                                                    <div
                                                        class="flex justify-center items-center h-8 w-8 rounded-full bg-pink-200">
                                                        <img src="../../assets/icon/arrow-down-right.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <p class="font-title sm:text-sm md:text-base lg:text-lg">Submission
                                                        of Zenith Bank Report</p>
                                                    <p class="font-three">2020-12-24</p>
                                                </div>
                                                <div class="flex justify-end ">
                                                    <img src="../../assets/icon/Vector.svg" alt="">
                                                </div>

                                            </div>


                                        </div>

                                    </div>
                                </transition>
                            </div>
                            <div v-else>
                                <transition name="fade">
                                    <noitem message="You have no task yest, your task  will appear here"></noitem>
                                </transition>
                            </div>

                        </div>
                    </transition>
                </div>
                <div v-else>
                    <transition name="fade">
                        <div>
                            <div class="mt-7">
                                <div class="px-10 w-64 py-3 bg-light-gray rounded-md trigger"
                                    @click="$m.showdropdown('task')">
                                    All
                                </div>
                                <dropdown class="dropdown" id="task">
                                    <div slot="content">
                                        <div class="py-2 divide-y divide-gray-100" role="menu"
                                            aria-orientation="vertical" aria-labelledby="options-menu">
                                            <a href="#"
                                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                role="menuitem">
                                                <span class="flex justify-between items-center">All Task <span
                                                        class="h-4 w-4 rounded-sm bg-red-200 flex justify-center items-center">1</span>
                                                </span></a>
                                            <a href="#"
                                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                role="menuitem">
                                                <span class="flex justify-between items-center">Unblock <span
                                                        class="h-4 w-4 rounded-full  flex justify-center items-center">0</span>
                                                </span></a>
                                            </a>
                                            <a href="#"
                                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                role="menuitem">
                                                <span class="flex justify-between items-center">Collaboration <span
                                                        class="h-4 w-4 rounded-full  flex justify-center items-center">0</span>
                                                </span>
                                            </a>
                                            <a href="#"
                                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                role="menuitem">
                                                <span class="flex justify-between items-center">Reset <span
                                                        class="h-4 w-4 rounded-sm  flex justify-center items-center">0</span>
                                                </span>
                                            </a>
                                            <a href="#"
                                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                role="menuitem">
                                                <span class="flex justify-between items-center">Profile & Account <span
                                                        class="h-4 w-4 rounded-full  flex justify-center items-center">0</span>
                                                </span>
                                            </a>
                                            <a href="#"
                                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                role="menuitem">
                                                <span class="flex justify-between items-center">Done <span
                                                        class="h-4 w-4 rounded-full  flex justify-center items-center">0</span>
                                                </span>
                                            </a>
                                            <a href="#"
                                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                role="menuitem">
                                                <span class="flex justify-between items-center">Dismissed <span
                                                        class="h-4 w-4 rounded-full  flex justify-center items-center">0</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </dropdown>
                                <!-- <div class="custom-select w-64 ">
                                    <select v-model="currentActivity">
                                        <option value="all">All</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div> -->

                            </div>
                            <div v-if="currentActivity == 'all'">
                                <transition name="fade">
                                    <div>
                                        <div
                                            class="mt-7 bg-light-gray rounded-md p-5 divide-y divide-solid divide-gray-200">
                                            <div class="grid grid-cols-12 mb-3">
                                                <div>
                                                    <div
                                                        class="flex justify-center items-center h-8 w-8 rounded-full bg-pink-200">
                                                        <img src="../../assets/icon/arrow-down-right.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-span-10">
                                                    <p class="font-title text-lg">Submission of Zenith Bank Report</p>
                                                    <p class="font-three">2020-12-24</p>
                                                </div>
                                                <div class="flex justify-end">
                                                    <img src="../../assets/icon/Vector.svg" alt="">
                                                </div>

                                            </div>

                                            <div>
                                                <p class="font-two text-sm mt-3">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa,
                                                    illo.
                                                    Amet
                                                    ipsum
                                                    architecto
                                                    quis adipisci sint porro natus, impedit veritatis ex vero magnam et
                                                    tenetur,
                                                    ad
                                                    quibusdam
                                                    recusandae aperiam nobis.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="mt-2  rounded-md p-5 divide-y divide-solid divide-gray-200">
                                            <div class="grid grid-cols-12 mb-3">
                                                <div>
                                                    <div
                                                        class="flex justify-center items-center h-8 w-8 rounded-full bg-pink-200">
                                                        <img src="../../assets/icon/arrow-down-right.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-span-10">
                                                    <p class="font-title text-lg">Submission of Zenith Bank Report</p>
                                                    <p class="font-three">2020-12-24</p>
                                                </div>
                                                <div class="flex justify-end">
                                                    <img src="../../assets/icon/Vectorarrowfront.svg" alt="">
                                                </div>

                                            </div>


                                        </div>
                                        <div class="mt-2  rounded-md p-5 divide-y divide-solid divide-gray-200">
                                            <div class="grid grid-cols-12 mb-3">
                                                <div>
                                                    <div
                                                        class="flex justify-center items-center h-8 w-8 rounded-full bg-pink-200">
                                                        <img src="../../assets/icon/arrow-down-right.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-span-10">
                                                    <p class="font-title text-lg">Submission of Zenith Bank Report</p>
                                                    <p class="font-three">2020-12-24</p>
                                                </div>
                                                <div class="flex justify-end">
                                                    <img src="../../assets/icon/Vectorarrowfront.svg" alt="">
                                                </div>

                                            </div>


                                        </div>
                                        <div class="mt-2  rounded-md p-5 divide-y divide-solid divide-gray-200">
                                            <div class="grid grid-cols-12 mb-3">
                                                <div>
                                                    <div
                                                        class="flex justify-center items-center h-8 w-8 rounded-full bg-pink-200">
                                                        <img src="../../assets/icon/arrow-down-right.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-span-10">
                                                    <p class="font-title text-lg">Submission of Zenith Bank Report</p>
                                                    <p class="font-three">2020-12-24</p>
                                                </div>
                                                <div class="flex justify-end">
                                                    <img src="../../assets/icon/Vectorarrowfront.svg" alt="">
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </transition>
                            </div>
                            <div v-else>
                                <transition name="fade">
                                    <noitem message="No activity yet. To get an activity, 
                                    request it here. "></noitem>
                                </transition>
                            </div>

                        </div>
                    </transition>
                </div>
            </div>
        </div>

        <!-- seciond Session -->
        <div class="grid grid-cols-1 gap-5 px-10 mt-7 ">

            <div class="bg-white shadow-md rounded-md p-10 divide-y divide-solid divide-gray-200">
                <div class="flex justify-between">
                    <div>
                        <span class="font-bold chat-title">Activity Summary</span>
                    </div>
                    <div>
                        <div class="chatmenu">
                            <div class="chatmenu-item active">
                                Programs
                            </div>
                            <div class="chatmenu-item">
                                Discovery
                            </div>
                            <div class="chatmenu-item">
                                Submission
                            </div>
                            <div class="chatmenu-item">
                                Leader
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="grid grid-cols-5 my-5">
                        <div class="chartmenu">
                            <span>
                                <img src="../../assets/icon/qurey.svg" alt=""> Report
                            </span>
                            <span>
                                <img src="../../assets/icon/report.svg" alt=""> Query
                            </span>
                        </div>
                        <div class="col-start-5">
                            <span>
                                <!-- DATE: AUGUST 2020 -->
                            </span>
                        </div>
                    </div>
                    <linechart :height="'100px'"></linechart>
                </div>
            </div>
        </div>
    </div>
</div>