<div class="h-screen bg-light-gray">
    <mainheader></mainheader>
    <div class="px-4 lg:px-10 xl:px-10">
        <div class="grid grid-cols-1 py-10">
            <div>
                <p class="greeting-title">Hi Lawal!</p>
            </div>
        </div>
        <div class="bg-white p-0 lg:p-10 xl:p-10 shadow-md divide-gray-100 divide-y">
            <div>
                <div class="settings_tab flex">
                    <div class="settings_tab_left overflow-x-auto">
                        <div class="settingtab">
                            <div class="item" :class="{'active': data == 'security'}"
                                @click.prevent="settab('security')">
                                Security
                            </div>
                            <div class="item" :class="{'active': data == 'skills'}" @click.prevent="settab('skills')">
                                Skills
                            </div>
                            <div class="item" :class="{'active': data == 'settings_payment'}"
                                @click.prevent="settab('settings_payment')">
                                Payment
                            </div>
                            <div class="item" :class="{'active': data == 'profile'}" @click.prevent="settab('profile')">
                                Profile
                            </div>
                        </div>
                    </div>
                    <div class="settings_tab_right flex items-center">
                        <!-- <div class="flex justify-end"> -->
                        <button type="button" @click="$m.hidemodal('hours')"
                            class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white font-two font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-xs text-sm xs:text-xs">
                            Close
                        </button>


                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <div class="p-6 lg:p-10 xl:p-10">
                <div v-if="data == 'profile'">
                    <div>
                        <p>General Information</p>
                    </div>
                    <div class="border border-1 border-gray-200 mt-6 p-10 ">
                        <div class="genral_info_box flex items-center">
                            <div class="sm:mr-4 md:mr-6 lg:mr-10 xl:mr-10">
                                <div class="relative">
                                    <img class="h-32 rounded-full"
                                        src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/artistic-album-cover-design-template-d12ef0296af80b58363dc0deef077ecc_screen.jpg?ts=1561488440"
                                        alt="">
                                    <img class="bg-pink-600 p-2 rounded-full absolute right-20 bottom-2"
                                        src="../../assets/icon/ico.svg" alt="">
                                </div>
                            </div>
                            <div class="flex items-center">
                                <p class="text-xl">John Lawal</p>
                            </div>
                        </div>
                    </div>

                    <div class="mt-10">
                        <div class="grid grid-cols-2 gap-5">
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="firstname"> Firstname</label>
                                <input type="text" class="form-control" placeholder="John">
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="lastname"> Lastname</label>
                                <input type="text" class="form-control" placeholder="Lawal">
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="email"> Email</label>
                                <input type="email" class="form-control" placeholder="Enter your Email">
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="phone"> Phone</label>
                                <input type="text" class="form-control" placeholder="Enter phone number">
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="language"> Language</label>
                                <select name="language" class="form-control">
                                    <option value="english">English</option>
                                    <option value="english">Spanish</option>
                                    <option value="english">French</option>
                                </select>
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="Twitter handle">Twitter handle</label>
                                <span class="block text-xs">Add your Twitter username, e.g. SwiftOnSecurity</span>
                                <input type="text" value="@twitterHandle" class="form-control">
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="linkedin">LinkedIn</label>
                                <span class="block text-xs">Add your LinkedIn profile URL, e.g.
                                    https://linkedin.com/company/teklabspace</span>
                                <input type="text" value="https://linkedin.com/company/teklabspace"
                                    class="form-control">
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="Website">Website</label>
                                <span class="block text-xs">Add your personal blog or profile website</span>
                                <input type="text" value="https://example.com" class="form-control">
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="biography">Biography</label>
                                <span class="block text-xs">Introduce yourself, include some notable achievements and
                                    your hobbies.</span>
                                <textarea name="biography" class="border w-full" rows="10"></textarea>
                            </div>


                        </div>
                    </div>
                    <div class="mt-10">
                        <button type="button"
                            class="mx-3 w-full mr-4 inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-pink font-two font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-xs text-sm xs:text-xs">
                            Update Setting
                        </button>
                    </div>
                </div>
                <div v-if="data == ''">
                    <div>
                        <div>
                            <p class="text-gray-500">Security</p>
                        </div>

                        <hr class="w-full mt-3">
                        <div class="mt-5">
                            <div class="grid grid-cols-2 gap-5">
                                <div>
                                    <label for="firstname"> Current password</label>
                                    <input type="text" class="form-control" placeholder="Enter your Password">
                                </div>
                                <div>
                                    <label for="firstname"> New Passowrd</label>
                                    <input type="text" class="form-control" placeholder="Enter New Password">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="text-gray-500">Security questions</p>
                        </div>

                        <hr class="w-full mt-3">
                        <div class="mt-5">
                            <div class="grid grid-cols-2 gap-5">
                                <div>
                                    <label for="firstname"> Question #1</label>
                                    <input type="text" class="form-control" placeholder="What's your friend's name">
                                </div>
                                <div>
                                    <label for="firstname"> Answer</label>
                                    <input type="text" class="form-control" placeholder="John">
                                </div>
                                <div>
                                    <label for="firstname"> Question #2</label>
                                    <input type="text" class="form-control" placeholder="Please Select Questions">
                                </div>
                                <div>
                                    <label for="firstname"> Answer</label>
                                    <input type="text" class="form-control" placeholder="Enter your Answer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button"
                            class="mx-3 w-full mr-4 inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-pink font-two font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-xs text-sm xs:text-xs">
                            Update Setting
                        </button>
                    </div>
                </div>
                <div v-if="data == 'skills'">
                    <div>
                        <div>
                            <p class="text-gray-500">Skills and interests</p>
                        </div>

                        <hr class="w-full mt-3">
                        <div class="mt-5">

                            <div class="border-b  pt-6 pb-5">
                                <h2 class="mb-2">API Testing</h2>
                                <div class="flex justify-between">
                                    <p class="text-sm text-gray-500">
                                        Get matched to suitable programs based on your skills
                                    </p>
                                    <div>
                                        <label for="toogleA" class="flex items-center cursor-pointer">
                                            <!-- toggle -->
                                            <div class="relative">
                                                <!-- input -->
                                                <input id="toogleA" type="checkbox" class="hidden" />
                                                <!-- line -->
                                                <div
                                                    class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner">
                                                </div>
                                                <!-- dot -->
                                                <div
                                                    class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0">
                                                </div>
                                            </div>

                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-b  pt-6 pb-5">
                                <h2 class="mb-2">Bug bounty</h2>
                                <div class="flex justify-between">
                                    <p class="text-sm text-gray-500">
                                        Get matched to suitable programs based on your skills
                                    </p>
                                    <div>
                                        <label for="toogleA" class="flex items-center cursor-pointer">
                                            <!-- toggle -->
                                            <div class="relative">
                                                <!-- input -->
                                                <input id="toogleA" type="checkbox" class="hidden" />
                                                <!-- line -->
                                                <div
                                                    class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner">
                                                </div>
                                                <!-- dot -->
                                                <div
                                                    class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0">
                                                </div>
                                            </div>

                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-b  pt-6 pb-5">
                                <h2 class="mb-2">Code review</h2>
                                <div class="flex justify-between">
                                    <p class="text-sm text-gray-500">
                                        Get matched to suitable programs based on your skills
                                    </p>
                                    <div>
                                        <label for="toogleA" class="flex items-center cursor-pointer">
                                            <!-- toggle -->
                                            <div class="relative">
                                                <!-- input -->
                                                <input id="toogleA" type="checkbox" class="hidden" />
                                                <!-- line -->
                                                <div
                                                    class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner">
                                                </div>
                                                <!-- dot -->
                                                <div
                                                    class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0">
                                                </div>
                                            </div>

                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="border-b  pt-6 pb-5">
                                <h2 class="mb-2">Cryptography</h2>
                                <div class="flex justify-between">
                                    <p class="text-sm text-gray-500">
                                        Get matched to suitable programs based on your skills
                                    </p>
                                    <div>
                                        <label for="toogleA" class="flex items-center cursor-pointer">
                                            <!-- toggle -->
                                            <div class="relative">
                                                <!-- input -->
                                                <input id="toogleA" type="checkbox" class="hidden" />
                                                <!-- line -->
                                                <div
                                                    class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner">
                                                </div>
                                                <!-- dot -->
                                                <div
                                                    class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0">
                                                </div>
                                            </div>

                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-b  pt-6 pb-5">
                                <h2 class="mb-2">Desktop Application Testing</h2>
                                <div class="flex justify-between">
                                    <p class="text-sm text-gray-500">
                                        Get matched to suitable programs based on your skills
                                    </p>
                                    <div>
                                        <label for="toogleA" class="flex items-center cursor-pointer">
                                            <!-- toggle -->
                                            <div class="relative">
                                                <!-- input -->
                                                <input id="toogleA" type="checkbox" class="hidden" />
                                                <!-- line -->
                                                <div
                                                    class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner">
                                                </div>
                                                <!-- dot -->
                                                <div
                                                    class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0">
                                                </div>
                                            </div>

                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-b  pt-6 pb-5">
                                <h2 class="mb-2">Mobile Application Testing</h2>
                                <div class="flex justify-between">
                                    <p class="text-sm text-gray-500">
                                        Get matched to suitable programs based on your skills
                                    </p>
                                    <div>
                                        <label for="toogleA" class="flex items-center cursor-pointer">
                                            <!-- toggle -->
                                            <div class="relative">
                                                <!-- input -->
                                                <input id="toogleA" type="checkbox" class="hidden" />
                                                <!-- line -->
                                                <div
                                                    class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner">
                                                </div>
                                                <!-- dot -->
                                                <div
                                                    class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0">
                                                </div>
                                            </div>

                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-b  pt-6 pb-5">
                                <h2 class="mb-2">IoT</h2>
                                <div class="flex justify-between">
                                    <p class="text-sm text-gray-500">
                                        Get matched to suitable programs based on your skills
                                    </p>
                                    <div>
                                        <label for="toogleA" class="flex items-center cursor-pointer">
                                            <!-- toggle -->
                                            <div class="relative">
                                                <!-- input -->
                                                <input id="toogleA" type="checkbox" class="hidden" />
                                                <!-- line -->
                                                <div
                                                    class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner">
                                                </div>
                                                <!-- dot -->
                                                <div
                                                    class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0">
                                                </div>
                                            </div>

                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-b  pt-6 pb-5">
                                <h2 class="mb-2">Penetration Testing</h2>
                                <div class="flex justify-between">
                                    <p class="text-sm text-gray-500">
                                        Get matched to suitable programs based on your skills
                                    </p>
                                    <div>
                                        <label for="toogleA" class="flex items-center cursor-pointer">
                                            <!-- toggle -->
                                            <div class="relative">
                                                <!-- input -->
                                                <input id="toogleA" type="checkbox" class="hidden" />
                                                <!-- line -->
                                                <div
                                                    class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner">
                                                </div>
                                                <!-- dot -->
                                                <div
                                                    class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0">
                                                </div>
                                            </div>

                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="border-b  pt-6 pb-5">
                                <h2 class="mb-2">Website Testing</h2>
                                <div class="flex justify-between">
                                    <p class="text-sm text-gray-500">
                                        Get matched to suitable programs based on your skills
                                    </p>
                                    <div>
                                        <label for="toogleA" class="flex items-center cursor-pointer">
                                            <!-- toggle -->
                                            <div class="relative">
                                                <!-- input -->
                                                <input id="toogleA" type="checkbox" class="hidden" />
                                                <!-- line -->
                                                <div
                                                    class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner">
                                                </div>
                                                <!-- dot -->
                                                <div
                                                    class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0">
                                                </div>
                                            </div>

                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="mt-5">
                            <button type="button"
                                class="mx-3 w-full mr-4 inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-pink font-two font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-xs text-sm xs:text-xs">
                                Update Setting
                            </button>
                        </div>
                    </div>

                </div>
                <div v-if="data == 'payment'">
                    <div class="payment_wrapper">
                        <div class="grid grid-cols-2 gap-5">
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="firstname"> First name</label>
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="lastname"> Last name</label>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="my-5">
                            <label class="font-bold" for="dob"> Date of Birth</label>
                            <div class="grid grid-cols-3 gap-5">
                                <div
                                    class="col-span-3 xs:col-span-3 sm:col-span-3 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                    <input type="text" class="form-control" placeholder="Year YYYY">
                                </div>
                                <div
                                    class="col-span-3 xs:col-span-3 sm:col-span-3 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                    <label class="font-bold" for=""></label>
                                    <input type="text" class="form-control" placeholder="January">
                                </div>
                                <div
                                    class="col-span-3 xs:col-span-3 sm:col-span-3 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                    <label class="font-bold" for=""></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="my-5 grid grid-cols-2 gap-5">
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="address"> Address</label>
                                <select name="address" class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="lastname"> Address 2optional</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="my-5 grid grid-cols-2 gap-5">
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="city"> City</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="postal"> Postal/Zip Code</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
                                <label class="font-bold" for="postal"> Country</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                    </div>
                </div>
                <div v-if="data == 'security'">
                    <setting-skills></setting-skills>
                </div>
                <div v-if="data == 'settings_payment'">
                    <settings-payment></settings-payment>
                </div>
            </div>
        </div>
    </div>
</div>