<div class="min-h-screen bg-light-gray">
    <mainheader></mainheader>
    <div class="px-10">
        <div class="grid grid-cols-1 py-10">
            <div>
                <p class="greeting-title">Hi Lawal!</p>
            </div>
        </div>
        <div class="bg-white p-10 shadow-md divide-gray-100 divide-y">
            <div>
                <div class="grid grid-cols-2">
                    <div>
                        <div class="settingtab">
                            <div class="item">
                                Security
                            </div>
                            <div class="item">
                                Notification
                            </div>
                            <div class="item">
                                Payment
                            </div>
                            <div class="item active">
                                profile
                            </div>
                        </div>
                    </div>
                    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam tempora maiores impedit quas.
                        Reiciendis, impedit quo eum voluptate sequi error quia pariatur culpa minus, repellendus
                        exercitationem praesentium ipsam, eius sit.</div>
                </div>
            </div>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis excepturi ipsa rerum suscipit? Soluta eum
                adipisci, nostrum beatae repudiandae sint nihil esse iste laudantium quia. Cum repudiandae unde animi
                at.</p>
        </div>
    </div>
</div>